<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<h1>タスク一覧</h1>
<table>
  <tr>
    <th>タスク名</th>
    <th>詳細</th>
    <th>終了期限<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true"), class: "dropdown-item" %></th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td class="task_row"><%= task.task_name %></td>
    <td><%= task.task_detail %></td>
    <td><%= task.end_period.strftime("%Y-%m-%d") %></td>
    <td><%= link_to '詳細', task_path(task.id) %></td>
    <td><%= link_to "編集", edit_task_path(task.id) %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくタスクを登録する', new_task_path %>
