<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<% if @user = current_user.admin %>
　　<%= link_to "管理者画面へ", admin_users_path, class:"btn btn-info to_task_list" %>
<% end %>

<% @tasks.each do |task| %>
  <table class='table table-hover'>
  <tr class="dropdown">
    <th>タスク名</th>
    <th>詳細</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td class="task_row"><%= task.task_name %></td>
    <td><%= task.task_detail %></td>
    <td><%= task.end_period.strftime("%Y-%m-%d") %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= link_to '詳細', task_path(task.id), class:"btn-success" %></td>
    <td><%= link_to "編集", edit_task_path(task.id), class:"btn-warning" %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class:"btn-danger" %></td>
  </tr>
<% end %>
</table>
<% end %>
<%= link_to "タスク一覧へ", tasks_path, class:"btn btn-info to_task_list" %>
